In [1]:
import pandas as pd

In [2]:
import json

# Open the JSON file and load it into a Python object (e.g., dictionary)
with open('annotations.json', 'r') as file:
    data = json.load(file)

In [40]:
data[30000]['models']

[{'name': 'Guyana',
  'labels': 'Guyana',
  'width': 0.15,
  'colors': '#008B8B',
  'bboxes': [{'y': 584, 'x': 171, 'w': 47, 'h': 7},
   {'y': 583, 'x': 481, 'w': 47, 'h': 7},
   {'y': 584, 'x': 791, 'w': 47, 'h': 6},
   {'y': 581, 'x': 1101, 'w': 47, 'h': 9}],
  'y': [87851000, 94098000, 84793000, 122345000],
  'x': ['2005', '2006', '2007', '2008']},
 {'name': 'South Africa',
  'labels': 'South Africa',
  'width': 0.15,
  'colors': '#00FA9A',
  'bboxes': [{'y': 605, 'x': 217, 'w': 47, 'h': -15},
   {'y': 594, 'x': 527, 'w': 47, 'h': -3},
   {'y': 61, 'x': 837, 'w': 47, 'h': 530},
   {'y': 818, 'x': 1148, 'w': 47, 'h': -228}],
  'y': [-192683000.0, -44103000.0, 7023999000.0, -3020897000.0],
  'x': ['2005', '2006', '2007', '2008']},
 {'name': 'Tanzania',
  'labels': 'Tanzania',
  'width': 0.15,
  'colors': '#7FFFD4',
  'bboxes': [{'y': 558, 'x': 264, 'w': 47, 'h': 33},
   {'y': 550, 'x': 574, 'w': 47, 'h': 40},
   {'y': 543, 'x': 884, 'w': 47, 'h': 47},
   {'y': 553, 'x': 1194, 'w': 47, 'h': 38}],
  'y': [435092000, 537113000, 629639000, 500951000],
  'x': ['2005', '2006', '2007', '2008']},
 {'name': 'Vanuatu',
  'labels': 'Vanuatu',
  'width': 0.15,
  'colors': '#D2691E',
  'bboxes': [{'y': 591, 'x': 310, 'w': 47, 'h': 0},
   {'y': 591, 'x': 620, 'w': 47, 'h': 0},
   {'y': 590, 'x': 930, 'w': 47, 'h': 0},
   {'y': 590, 'x': 1241, 'w': 47, 'h': 1}],
  'y': [-1084000.0, -2154000.0, 1815000.0, 7608000.0],
  'x': ['2005', '2006', '2007', '2008']}]

In [60]:
data[0]['image_index']

0

In [61]:
data[0]['type']

'dot_line'

In [59]:
data[0]['general_figure_info']['x_axis']['major_labels']['values']

['1997', '1998', '1999', '2000', '1997', '1998', '1999', '2000']

In [105]:
data[0]['general_figure_info']['title']['text']

'Employment to population ratio of Zimbabwe for age group between 15-24 years'

In [68]:
data[0]['general_figure_info']['y_axis']['major_labels']['values']

['0', '10', '20', '30', '40', '50', '0', '10', '20', '30', '40', '50']

In [92]:
data[0]['general_figure_info']['x_axis']['label']['text']

'Year'

In [93]:
data[0]['general_figure_info']['y_axis']['label']['text']

'Employment to population ratio(%)'

In [95]:
data[0]['models'][0]['name']

'Female'

In [98]:
a = data[0]['models'][0]['name']

In [99]:
b = data[0]['models'][1]['name']

In [101]:
lis = [a,b]
lis

['Female', 'Male']

In [4]:
df = pd.read_json('annotations.json')

In [5]:
df.head()

,models,type,general_figure_info,image_index
0,"[{'name': 'Female', 'color': '#8B4513', 'label...",dot_line,{'title': {'text': 'Employment to population r...,0
1,"[{'name': 'GDP', 'color': '#FFFF00', 'label': ...",dot_line,{'title': {'text': 'PPP conversion factor for ...,1
2,"[{'name': 'Merchandise exports', 'color': '#90...",dot_line,{'title': {'text': 'Trade statistics of Switze...,2
3,"[{'name': 'Primary education', 'color': '#BDB7...",dot_line,{'title': {'text': 'Number of teachers providi...,3
4,"[{'name': 'Merchandise exports', 'color': '#8B...",dot_line,{'title': {'text': 'Trade statistics of Bahrai...,4

In [30]:
df.shape

(33650, 4)

In [37]:
df.tail()

,models,type,general_figure_info,image_index
33645,"[{'name': 'New businesses', 'labels': 'New bus...",vbar_categorical,{'title': {'text': 'Number of new businesses r...,33645
33646,"[{'name': 'Prevalence of undernourishment', 'l...",vbar_categorical,{'title': {'text': 'Prevalence of undernourish...,33646
33647,"[{'name': 'Use of IMF credit (DOD', 'labels': ...",vbar_categorical,{'title': {'text': 'Use of IMF credit in 2014 ...,33647
33648,"[{'name': 'Unemployed(female)', 'labels': 'Une...",vbar_categorical,"{'y_axis': {'minor_ticks': {'values': [0, 0.4,...",33648
33649,"[{'name': 'Burden of customs procedure', 'labe...",vbar_categorical,"{'y_axis': {'minor_ticks': {'values': [0, 0.2,...",33649

In [103]:
image_index=[]
type = []
title=[]
x_tick=[]
y_tick=[]
legend=[]
x_label=[]
y_label=[]

i=0

In [106]:
for i in range(33650):
    image_index.append(data[i]['image_index'])
    type.append(data[i]['type'])
    title.append(data[i]['general_figure_info']['title']['text'])
    x_tick.append(data[i]['general_figure_info']['x_axis']['major_labels']['values'])
    y_tick.append(data[i]['general_figure_info']['y_axis']['major_labels']['values'])
    x_label.append(data[i]['general_figure_info']['x_axis']['label']['text'])
    y_label.append(data[i]['general_figure_info']['y_axis']['label']['text'])

In [108]:
df = pd.DataFrame({
    'image_index':image_index,
    'type':type,
    'title':title,
    'x_tick':x_tick,
    'y_tick':y_tick,
    'x_label':x_label,
    'y_label':y_label
})

In [111]:
df.head()

,image_index,type,title,x_tick,y_tick,x_label,y_label
0,0,dot_line,Employment to population ratio of Zimbabwe for...,"[1997, 1998, 1999, 2000, 1997, 1998, 1999, 2000]","[0, 10, 20, 30, 40, 50, 0, 10, 20, 30, 40, 50]",Year,Employment to population ratio(%)
1,1,dot_line,PPP conversion factor for GDP and private cons...,"[2000, 2001, 2002, 2003, 2004, 2005, 2000, 200...","[0, 0.2, 0.4, 0.6, 0.8, 0, 0.2, 0.4, 0.6, 0.8]",Year,PPP conversion factor (LCU per international $)
2,2,dot_line,Trade statistics of Switzerland with developin...,"[1973, 1974, 1975, 1976, 1977, 1973, 1974, 197...","[0, 1, 2, 3, 4, 0, 1, 2, 3, 4]",Year,Trade with economies of Latin America & Caribb...
3,3,dot_line,Number of teachers providing primary vs second...,"[1983, 1984, 1985, 1986, 1987, 1988, 1989, 198...","[0, 2000, 4000, 6000, 8000, 0, 2000, 4000, 600...",Year,Number of teachers
4,4,dot_line,Trade statistics of Bahrain with developing ec...,"[2010, 2011, 2012, 2013, 2010, 2011, 2012, 2013]","[0, 0.5, 1, 1.5, 0, 0.5, 1, 1.5]",Year,Trade with economies of Middle East & North Af...